body{
   background-image: linear-gradient(lightgrey,grey );
   background-repeat: no-repeat;
   background-attachment: fixed;
}


#form_div{
   width:50%;
   height:60%;
   border:2px solid black;
   border-radius: 10px;;
   position: relative;
   top:50px;
   left:100px;
   padding:10px;
   background-color:white;
   
}
input{
   width:200px;;
}