body{
   
   height:100%;
   background-image:linear-gradient(#2c3e50,#4ca1af);
   background-repeat:no-repeat;
   
   background-attachment: fixed;
}

#para1{
   position: relative;
   top:30px;
   font-size: large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav_div {
   width:80%;
   padding-left: 50px;
}
span[id="span_title"]{
   position: relative;
   left:600px;
   color: #ffffff;
}
#nav_div a{
   
   text-decoration: none;
   text-align: center;
   padding:5px;
   display: inline-block;
   width: 90px;
   margin: 2px;
   color:black;
   background-color: #dbdb42;
   border-radius: 5px;
}

#container_div{
   height:650px;
   width:95%;
   padding-top: 4px;
   padding-left: 5px;
   background-color: #ffffff;
   position: relative;
   left: 45px;
   top:10px;
   border-radius: 10px;
   box-shadow: 10px 10px 5px #2c3e50;
}

#div1{
   width:72%;
   height:26%;
   padding-left: 40px;
   background-image:linear-gradient(#2c3e50,#4ca1af);
}

#div1>div{
   width:95%;
   height:100%;
   background-color: #4692a0;
   
}

#div1>div>:first-child {
   width:24%;
   height:100%;
}

#div1>div>div:nth-child(2){
   position: relative;
   top: -100%;
   left:25%;
   width:75%;
}

#img1{
   width:100%;
   height:100%;
}
/**side div****/
#div2{
   width:37%;
   height:74%;
   
}

#div2 div{
   border:solid 1px black;
   height:14%;
   width:95%;
   background-color:lightblue ;
}

#div2 img{
   height:120%;
   width:30%;
   position: relative;
   top:-30%;
   background-size: cover;
}
#div2 div p{
 
   width:280px;
   position: relative;
   top:-100%;
   left:130px;
}

/* **listof vertical divs****/
#list_div{
   width:37%;
   height:74%;
   border:0.5px solid red;
   position: relative;
   top:-77%;
   left:38%;
   background-color:lightblue;
}

#list_div div{
   width:100%;
   height:33%;
}

.img1{
   width:150px;
   height:100px;
   float: right;
}
.img2{
   width:150px;
   height:120px;
   border: 1px solid black;
   margin: 10px;
}
#list_div div:nth-child(2) p{
   width:220px;
   height: 150px;
   position: relative;
   top:-100%;
   left:45%;
}
#list_div div:nth-child(2){
   background-color:rgb(91, 185, 216);
}


#list_div div:nth-child(3) h4{
   position: relative;
   left:40%;
   top:-45%;
}
#list_div div:nth-child(3) div{
   width:90%;
   height: 50%;;
   position: relative;
   top:-45%;
   left:10px;
   border: 2px solid rgb(91, 185, 216);
   border-radius: 10px;
   background-color: white;
}

.img3{
   width:35%;
   height: 30%;
   margin: 10px;;
}

/**login div ***/
#login_div{
  
   width:24%;
   height:26%;
   position: relative;
   padding-top: 1px;
   padding-left:5px;
   top:-177.5%;
   left:75.5%;
   color: #ffffff;
   background-color: #000000;
}

input[type='button']{
   background:#ffffff;
   color: black;
   border-radius: 20px;
   position: relative;
   left:20%;

}